<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <title>{system_name}</title>
        <link href="theme/basic/desktop.css" rel="stylesheet" type="text/css" id="css_desktop" />
        <link href="css/style.css" rel="stylesheet" type="text/css" />
        <link rel="shortcut icon" href="../../arquivos/configuracao/favicon.png" type="image/x-icon" />

        <script type="text/javascript" src="../js/jquery_min.js"></script>
        <script type="text/javascript" src="../js/jquery_cookie.js"></script>
        <script type="text/javascript" src="../js/util.js"></script>
        <script type="text/javascript" src="js/desktop.js"></script>
        <script type="text/javascript" src="js/window.js"></script>
        <script type="text/javascript" src="js/core.js"></script>
        <script type="text/javascript" src="js/config.js"></script>
        <script type="text/javascript">

                    var _user = {
                        id : '{user_id}',
                        status : '{user_status}',
                        name : '{user_name}',
                        email : '{user_email}',
                        photo : '{user_photo}'
                    };

        </script>
    </head>

    <body>
    <!--<img src="../../arquivos/configuracao/logo.png" id="brtalk_logo" />-->

        <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://active.macromedia.com/flash2/cabs/swflash.cab#version=4,0,0,0" id="sound" width="1" height="1"> 
            <param name="movie" value="sound.swf" />
            <param name="AllowScriptAccess" value="always" />
            <param name="autoplay" value="false" />
            <param name="quality" value="high" />
            <param name="wmode" value="transparent" />
            <embed name="sound" src="sound.swf" autoplay="false" swLiveConnect="true" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="1" height="1"></embed>
        </object>

        <div id="user_info">
            <h1>{user_name}</h1>
            <a href="logout.php">Sair</a>
        </div>

        <div class="shortcuts">
            <a href="javascript:Options()"><img src="image/options.png" />Op&ccedil;&otilde;es</a>
            <a href="javascript:Tips()"><img src="image/tip.png" /> Dicas de utiliza&ccedil;&atilde;o</a>
            <a href="javascript:ChangeTheme()"><img src="image/theme.png" /> Temas</a>
            <a href="javascript:ChangePassword()"><img src="image/password.png" /> Alterar senha</a>
            <!-- begin_block_administrator -->
            <a href="javascript:Users()"><img src="image/profile.png" /> Usu&aacute;rios</a>
            <a href="javascript:History()"><img src="image/history.png" /> Hist&oacute;rico</a>
            <!-- end_block_administrator -->
            <!--<a href="javascript:PredefinedMessages()"><img src="image/keyboard.png" /> Mensagens pr&eacute;-definidas</a>-->
        </div>

    </body>
</html>
