<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <title>{system_name}</title>
        <link href="css/client.css" rel="stylesheet" type="text/css" />
        <link rel="shortcut icon" href="../../arquivos/configuracao/favicon.png" type="image/x-icon" />
    </head>

    <body>

        <div id="client_border">

            <div id="client_top">
                <img src="../../arquivos/configuracao/logo.png" alt="brTalk" />
            </div>

            <div id="wait">
                <div id="wait_info">
                    <p>Atendimento encerrado</p>
                    <a href="javascript:window.close()">Fechar janela</a>
                </div>
            </div>

            <div id="client_bottom">
                <strong>{system_name} {system_version}</strong> 2010 Hédi Carlos Minin	
            </div>
        </div>

    </body>
</html>
